body { font-family: sans-serif; color: #444; padding: 20px; }
h2 { border-top: 1px solid #bbb; margin-top: 40px; padding: 10px 0;}
table { border: 1px solid #999; border-collapse: collapse;}
table th { background: #444; color: #fff; padding: 4px 10px;}
table td { padding: 2px 10px; }
