<!doctype html> 
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Dynamic Models Demonstration</title>
  <link rel="stylesheet" href="{{ STATIC_URL }}css/style.css?v=2">
</head>
 
<body>
 
  <div id="container">
    <header>
    {% block header %}
    <h1>Dynamic Models Demonstration</h1>
    <p>This demonstration simply displays all data from survey responses at once, to see the structure and data of all tables.</p>
    <ul>
        <li><a href="{% url surveymaker_index %}">View *ALL* responses</a></li>
        {% for survey,x in surveys %}<li><a href="{% url surveymaker_form survey_slug=survey.slug %}">Take the survey: "{{ survey.name }}"</a></li>{% endfor %}
    </ul>
    {% endblock header %}
    </header>
     
    <div id="main">
        {% block content %}
        {% for survey,responses in surveys %}
        <h2>{{ survey }}</h2>
        <table>
          <tr>{% for question in survey.question_set.all %}<th>{{ question.slug }}</th>{% endfor %}</tr>
            {% for response in responses %}
              <tr>{% for d in response.data %}<td>{{ d }}</td>{% endfor %}</tr>
            {% endfor %}
        </table>
        {% endfor %}
 
    {% endblock content %}
    </div>
     
    <footer>
 
    </footer>
  </div> <!--! end of #container -->
   
</body>
</html>


